.blog__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog__card img {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.blog__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.blog__card p {
    font-weight: 500;
    color: var(--text-dark);
}

.blog__card p span {
    font-weight: 400;
    font-style: italic;
    color: var(--text-light);
}