header {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2)
    ),
    url("../../assets/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    flex: 1;
}
.nav__logo a{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__links a{
    position: relative;
    padding: 10px 0;

    color: var(--white);

    transition: 0.3s;
}
.nav__links a::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 2px;
    width: 0;

    background-color: var(--white);

    transition: 0.3s;
}

.nav__links a:hover::after{
    width: 100%;
}

.nav__menu__btn{
    display: none;

    color: var(--white);
    font-size: 1.5rem;
}

.nav__actions{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.nav__actions span{
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}

/*header container*/
.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--white);
}
.header__container h1{
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}
.header__container p{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 4rem;

    font-size: 1.2rem;
}

.header__container form{
    width: 100%;
    max-width: 350px;
    margin-bottom: 4rem;
    padding-block: .1rem;
    padding-inline: 1.25rem .25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 5rem;
}

.header__container input{
    width: 100%;

    outline: none;
    border: none;

    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
}

.header__container input::placeholder{
    color: rgba(255, 255, 255, 0.51);
}
.header__container button{
    padding: 11px 12px;

    font-size: 1.25rem;
    color: var(--white);
    background: transparent;

    outline: none;
    border: none;
    cursor: pointer;
}

.header__container button:hover{
    text-shadow: 2px 2px 3px black;
}

#leave_header{
    display: inline-block;
    padding: 0 12px;
    font-size: 2rem;
    color: var(--white);
}









