.modern__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.modern__image{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 470px;
    margin: auto;
}

.modern__bg{
    position: absolute;
    max-width: 200px;
    right: 0;
    top: -4rem;
    opacity: 0.5;
}

.modern__img-1,
.modern__img-2,
.modern__img-3{
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.modern__img-1{
    max-width: 375px;
}

.modern__img-2{
    max-width: 175px;
    right: 0;
}

.modern__img-3{
    max-width: 250px;
    right: 0;
    bottom: -2rem;
}
.modern__grid{
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.modern__card{
    display: flex;
    gap: 1rem;
}

.modern__card span{
    font-size: .8rem;
    font-weight: 800;
    color: var(--text-dark);
}

.modern__card p{
    color: var(--text-light);
}

















