.offer__container {
    padding-block: 5rem;
    display: grid;
    grid-template-columns:
    minmax(0, 1fr)
    minmax(0, var(--max-width))
    minmax(0, 1fr);
    row-gap: 2rem;
}

.offer__grid__top {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.offer__grid__bottom {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.offer__container img {
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__content {
    padding-right: 1rem;
}

.offer__content .section__subheader {
    margin-bottom: 2rem;
}
