.testimonial__container .section__header{
    text-align: center;
}

.swiper{
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.testimonial_card{
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.testimonial_card p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--text-dark);
}

.testimonial_card img{
    max-width: 60px;
    margin-inline: auto;
    margin-bottom: 1rem;

    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.testimonial_card h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.testimonial_card h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}
.testimonial_card .swiper-pagination{
    margin: 14px 0;
}

